<%= form_with(model: coin, local: true) do |form| %>
  <% if coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
      <% coin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Descrição %>
    <%= form.text_field :description, :required =>true %>
  </div>

  <div class="field">
    <%= form.label :Sigla %>
    <%= form.text_field :acronym, :required =>true %>
  </div>

  <div class="field">
    <%= form.label :Ícone %>
    <%= form.text_field :url_image, :required =>true %>
  </div>

  <div class="actions">
    <%= form.submit texto_da_acao %>
  </div>
<% end %>
